body {
	margin: 0;
	padding: 0;
	
}


.textarea {
	width: 70%;
	margin: 5% auto;
	padding: 2% 8%;
	background: white;
	
}

h2 {
	font-size: 90px;
	text-align: center;
	font-style: italic;
	font-weight: 1;
	line-height: 0.9;
	display: block;
	margin-bottom: 80px;
}

p {
	font-size: 30px;
	line-height: 1.5;
}




img {
	width: 400px;
	height: auto;
	display: block;
	border-radius: 200px;
	margin: 30px auto;

}







