body {
  margin: 0;
  padding: 0;
  background-color: #eb4f4e;
}

header .background {
  height: 111px;
  background: url(https://s26.postimg.org/iaojxr3l5/background.png) no-repeat 70% 5%;
  position: relative;
  width: 94.5%;
  
  
}

header .background .background-1 img {
  width: 60px;
  height: 60px;
  position: absolute;
  right: -10px;
  top: -7px;
}

header .background .background-2 img {
  width: 50px;
  height: 50px;
  position: absolute;
  right: -10px;
  top: 52px;
}

header .logo img {
  width: 48px;
  height: 36px;
  position: absolute;
  left: 100px;
  top: 15px;
  cursor: pointer;
}

header .logo-motion img {
  width: 109px;
  height: 27px;
  position: absolute;
  left: 154px;
  top: 26px;
}

header .logo-asingle img{
  width: 164px;
  height: 16px;
  position: absolute;
  left: 100px;
  top: 57px;
}


header .menu li {
  list-style: none;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  margin-right: 10px;
  cursor: pointer;
  width: 70px;
  text-align: center;
  border-radius: 8px;
  transition: background .7s;
}

header .menu {
  float: right;
  right: 140px;
  position: relative;
  top: -90px;
}

header .menu li:hover {
  background: black;
}

header .slide-bar {
   height: 700px;
   width: auto; 
    
}

header .slide-bar .logo {
  width: 610px;
  height: 47px;
  background: url(https://s10.postimg.org/e9hs5zbpl/Welcome_to_Motion.png);
  margin: 45px auto;
  cursor: pointer;
  position: relative;
}

header .slide-bar .logo2 {
  width: 382px;
  height: 22px;
  background: url(https://s10.postimg.org/kpqqvxf2h/Asmart_Creative_Single_Page_Template.png);
  margin: 0px auto;
  position: absolute;
  left: 100px;
  top: 75px;
}

header .slide-bar .arrow-left {
  width: 40px;
  height: 90px;
  background: url(https://s10.postimg.org/4xvq99c3d/arrow-prev.png) no-repeat 100%;
  position: absolute;
  left: 90px;
  top: 470px;
  cursor: pointer;
  transition: transform 0.5s;
}

header .slide-bar .arrow-left:hover {
  transform: scale(1.3); 
}

header .slide-bar .arrow-right {
  width: 40px;
  height: 90px;
  background: url(https://s10.postimg.org/exv82bzpl/arrow-next.png) no-repeat;
  position: absolute;
  top: 480px;
  left: 1180px;
  cursor: pointer;
  transition: transform 0.5s;
}

header .slide-bar .arrow-right:hover {
  transform: scale(1.3); 
}


header .slide-bar .iphone {
  width: 176px;
  height: 400px;
  position: absolute;
  background: url(https://s10.postimg.org/e5sk3dnvd/iphone.png);
  left: 830px;
  top: 330px;
  z-index: 303;
  transition: transform 0.3s;
  cursor: pointer;
}

header .slide-bar .iphone:hover {
  transform: scale(1.1);
}

header .slide-bar .safari {
  width: 640px;
  height: 435px;
  position: absolute;
  background: url(https://s10.postimg.org/n27xl8jcp/safari.png);
  left: 290px;
  top: 370px;
  transition: transform 0.3s;
  cursor: pointer;
}
  
header .slide-bar .safari:hover {
  transform: scale(1.1);
  
}

article {
  height: 440px;
  background: #222223;
}

article .merits-title {
  width: 373px;
  height: 29px;
  background: url(https://s10.postimg.org/s6czepw21/Smart_Creative.png);
  position: relative; 
  top: 40px;
  left: 480px;
}

article .merits-title2 {
  width: 240px;
  height: 19px;
  position: absolute;
  background: url(https://s10.postimg.org/yy3ehlvc9/This_is_why_you_will_use_it.png);
  top: 50px;
  left: 75px;
}

article .ico1 {
  width: 250px;
  height: 270px;
  position: relative;
  float: left;
  left: 30px;
  top: 120px;
  cursor: pointer;
}



article .multi-ico {
  width: 100px;
  height: 100px;
  background-color: #eb4f4e;
  border-radius: 55px;
  float: left;
  position: absolute;
  left: 275px;
  top: 25px;
  background-image: url(https://s10.postimg.org/5qpyij6h5/Shape_87.png);
  background-repeat: no-repeat;
  background-position: 55%;
  cursor: pointer;
}

article .multi-title {
  width: 165px;
  height: 28px;
  background: url(https://s10.postimg.org/rr6az7evd/Multi_purpose.png);
  position: absolute;
  left: -30px;
  top: 115px;
}

article .ico1 .multi-lorem {
  width: 228px;
  height: 38px;
  background: url(https://s10.postimg.org/wsdp0j4bd/Lorem_ipsum_dolor.png);
  position: absolute;
  left: -60px;
  top: 160px;
}

article .ico2 {
  width: 250px;
  height: 270px;
  position: relative;
  left: 550px;
  top: 120px;
}

article .ico2 .flat-ui {
  width: 100px;
  height: 100px;
  background-color: #eb4f4e;
  border-radius: 55px;
  float: left;
  position: absolute;
  left: 75px;
  top: 25px;
  background-image: url(https://s10.postimg.org/cjvviok55/layer.png);
  background-position: 100%;
  cursor: pointer;
}

article .ico2 .flat-title {
  width: 165px;
  height: 28px;
  background: url(https://s10.postimg.org/4r57r03yx/Flat_UI.png) no-repeat 100%;
  position: absolute;
  top: 135px;
  cursor: pointer;
}

article .ico2 .flat-lorem {
  width: 228px;
  height: 38px;
  background: url(https://s10.postimg.org/wsdp0j4bd/Lorem_ipsum_dolor.png);
  position: absolute;
  left: 10px;
  top: 184px;
}

article .ico3 {
  width: 250px;
  height: 270px;
  position: relative;
  left: 880px;
  top: -153px;
  cursor: pointer;
}

article .creativ-ico {
  width: 100px;
  height: 100px;
  background-color: #eb4f4e;
  border-radius: 55px;
  float: left;
  position: absolute;
  left: 75px;
  top: 25px;
  background-image: url(https://s10.postimg.org/z0xflp8jt/Cloud_base.png);
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

article .ico3 .creativ-title {
  width: 195px;
  height: 28px;
  background: url(https://s10.postimg.org/zdots1qvd/Creative_Design.png) no-repeat;
  position: absolute;
  top: 135px;
  left: 30px;
}

article .ico3 .creativ-lorem {
  width: 228px;
  height: 38px;
  background: url(https://s10.postimg.org/wsdp0j4bd/Lorem_ipsum_dolor.png);
  position: absolute;
  left: 10px;
  top: 184px;
}

aside .contact-conteiner {
  width: 100%;
  height: 517px;
  background: #6cc372;
}

aside .contact-conteiner .title {
  width: 412px;
  height: 38px;
  background: url(https://s10.postimg.org/ut78qyjq1/Talented_Experts.png);
  position: relative;
  top: 45px;
  left: 450px;
}

aside .contact-conteiner .title2 {
  width: 158px;
  height: 18px;
  background: url(https://s10.postimg.org/i37lreyix/This_is_our_team.png);
  position: absolute;
  left: 130px;
  top: 50px;
}

aside .contact-conteiner .box1 {
  width: 230px;
  height: 340px;
  background: #ffffff;
  position: relative;
  top: 120px;
  left: 250px;
  border-radius: 8px;
  margin-right: 10px;
  dispaly: inline-block;
}

aside .contact-conteiner .box2 {
  width: 230px;
  height: 340px;
  background: #ffffff;
  position: relative;
  top: -220px;
  left: 550px;
  border-radius: 8px;
  margin-right: 10px;
  dispaly: inline-block;
}

aside .contact-conteiner .box3 {
  width: 230px;
  height: 340px;
  background: #ffffff;
  position: relative;
  top: -560px;
  left: 850px;
  border-radius: 8px;
  margin-right: 10px;
  dispaly: inline-block;
}

aside .contact-conteiner .box1-avatar {
  height: 150px;
  width: 150px;
  border: 7px solid #6cc372;
  border-radius: 100px;
  position: absolute;
  background: #6cc372;
  top: 15px;
  left: 34px;
  background-image: url(https://s10.postimg.org/mu7h9nwkp/Avatar3.png);
  background-repeat: no-repeat;
  background-position: 80%;
  
  
}

aside .contact-conteiner .box1-title {
  width: 256px;
  height: 75px;
  background: url(https://s10.postimg.org/obsxlbohl/Mahmoud_Baghagho.png);
  position: absolute;
  left: -20px;
  top: 170px;
}

aside .contact-conteiner .box1-title2 {
  width:196px;
  height: 69px;
  background: url(https://s10.postimg.org/jr6r65zkp/Senior_UI_Designer.png);
  position: absolute;
  top: 210px;
  left: 5px;
}

aside .contact-conteiner .box1-button {
  width:204px;
  height: 44px;
  background: url(https://s10.postimg.org/hzdsbn61l/follow.png);
  position: relative;
  top: 285px;
  left: 15px;
  cursor: pointer;
}

aside .contact-conteiner .box1-button:hover {
  box-shadow: 0 0 10px;
}






