*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}


header {
	background-image: url(../img/bg_header.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 644px;
	position: relative;
	font-family: "BebasBold";
}

.top_line {
	min-height: 97px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	width: 100%;
	background: rgba(0,0,0,.6);
	padding: 20px 0;
}


.top_addr {
	background-image: url(../img/top_map.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 26px;
	padding-left: 40px;
	margin: 5px 25px 0 25px;
}

.top_addr strong {
	display: block;
	color: #d12f22;
	text-transform: uppercase;
	font-weight: normal; 
	font-size: 32px;
	

}

.top_line a {
	color: white;
	font-size: 21px;
	border-bottom: dashed 1px;
	text-transform: uppercase;
	transition: all .25s;

}


.top_line a:hover {
	border-bottom: transparent 1px dashed;
}

.top_line .logo {
	border-bottom: none;
	position: absolute;
	margin-top: -10px
}

.top_line .logo:hover {
	border-bottom: none;
}

.logo_wrap {
	position: relative;
	width: 240px;
	margin: auto;
}

.ta_right {
	background-image: none;
	padding: none;
	text-align: right;
}

.ta_right span {
	color: white;
}

header h1 {
	text-align: center;
	color: white;
	margin-top: 64px;
	font-size: 40px;
	text-shadow: 0 3px rgba(0,0,0, 0.55);
	font-family: "BebasRegular";
}

.button {
	display: inline-block;
	background-color: #d12f22;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	padding: 0 20px;
	font-size: 20px;
	color: white;
	border-bottom: 4px #ac160a solid;
	transition: background-color 0.25s;
}

.button:hover {
	background-color: #e64440;
}

.button:active {
	background-color: #b81609;
}

.buttons_top {
	position: absolute;
	width: 100%;
	bottom: 32px;
}

header .button {
	margin-right: 20px;
}

.st_button {
	line-height: 18px;
	padding-top: 8px;
	text-align: left;
	padding-left: 63px;
	background-image: url(../img/camera.png);
	background-repeat: no-repeat;
	background-position: 8px 8px;
}
