@media  screen   
  and (max-width: 550px) 
  and (orientation: portrait) 
  { 

.block_text {
	width: 94%;
	margin: auto;
}


.block_text p {
	font-family: Iowan Old Style;
	font-size: 18px;
	line-height: 1.5em;
	margin: 1.6em 0;
	
}

header {
	font-size: 20px;
	font-family: 'Cormorant', sans-serif;
	margin-bottom: 20%;
}

footer {
	font-size: 17px;
	font-family: 'Cormorant', sans-serif;
	
}

.title {
	font-size: 60px;
	margin-bottom: 20%;
}

.read a {
	display: block;
	width: 35px;
	height: 20px;
	margin: 25% auto;
 }



.conteiner {
	margin: 15% auto;
}

  }




