body {
	padding-left: 2%;
}

h1 {
	font-family: Verdana;
	font-size: 40pt;
	color: rgba(80 80 80);
}

h2 {
	font-family: Verdana; 
	color: rgba(80 80 80);
}

a {
	display: block;
	padding-bottom: 2%;
}