


@media  screen   
  and (max-width: 650px) 
  and (orientation: portrait) 
  { 
  
	.blockOne {
    width: 90%;
    height: 60%;
    background: #3B4BFC;
  } 

  	input[type="text"] {
  	width: 80%;
  	height: 40%;
  }

  .addBtn {
  width: 50%;

}
  .blockOne h1 {
  text-align: center;
  font-family: Helvetica;
  color: white;
  font-size: 50pt;
}








