


@media  screen   
  and (max-width: 650px) 
  and (orientation: portrait) 
  { 
  
	.blockOne {
    width: 90%;
    height: 50%;
    background: #3B4BFC;
  } 

  	input[type="text"] {
  	width: 80%;
  	height: 40%;
  	margin-bottom: 40px;
  }

 ul {
    margin-top: 30px;
 }


 .addBtn {
 	margin-top: 40px;
 }
  .blockOne h1 {
  text-align: center;
  font-family: Helvetica;
  color: white;
  font-size: 50pt;
}








