
@media only screen  
  and (min-width: 375px) 
  and (max-width: 667px)  { 
  
	.blockOne {
    width: 100%;
    height: 50%;
    background: black;
  } 

  	input[type="text"] {
  	width: 80%;
  }
}


@media only screen  
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (orientation: portrait) { 
  
	.blockOne {
    width: 100%;
    height: 50%;
    background: black;
  } 

  	input[type="text"] {
  	width: 80%;
  }
}